*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: system-ui;
}

body {
  font-size: 1.25rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.page-title {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

button {
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
}

.box {
  width: 10rem;
  height: 10rem;
  background-color: salmon;
}

.wrapper {
  height:100%;
  width:100%;
  background:#1d1d1d;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
}

.expander {
  width:50px;
  height:40vh;
  border-radius:25px;
  background:black;
  overflow:hidden;
  margin-top:20px;
  margin-left:20px;
}

.close {
  font-family:sans-serif;
  font-size:18px;
  line-height:40px;
  transform:translate(198px, 10px);
  background:rgba(255,255,255,0.6);
  border-radius:20px;
  height:40px;
  width:40px;
  text-align:center;
  cursor:pointer;
  box-shadow:1px 1px 4px #333;
}
